header{
    background-color: white;
    padding: 0px;
    border-bottom: 1px solid #e72929;
}
a{
    color:#af1313;
}
a:hover
{
  background-color: #e72929;
  color:white;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0;
    width: 100%;
} 
a.logo{
    font-weight: bold;
    /* padding: 1em; */
     /* position: absolute;  */
    /* top: 0;
    left: 0; */

}
a img{
margin-top:0px ;
}

nav ul 
{
   list-style-type: none; 
   margin: 0;
   
}
nav ul li a
{
    padding: 1em;
    /* display: inline-block; */
    /* position: relative; */
   /* top: -.5px;
   right: -1237px; */
   

    

}